<aside>
    <h1>Kvalitní nábytek</h1>

    
    <strong>Vyrobíme vám kvalitní nábytek</strong>
    <ul>
    <li>z masivního dřeva</li>
    <li>podle vámi dodaného návrhu návrhu nebo podle nákresu bytového architekta</li>
    </ul>

    
    <h3>Ukázka naší práce</h3>

    <div class="gallery">
        <div class="image">
            <a href="assets/images/nabytek_v_01.jpg"  title="Nábytek" rel="lightbox[dvere1]"><img src="assets/images/nabytek_m_01.jpg" alt=""></a>
        </div>
        <div class="image">
            <a href="assets/images/nabytek_v_02.jpg"  title="Nábytek" rel="lightbox[dvere1]"><img src="assets/images/nabytek_m_02.jpg" alt=""></a>
        </div>
        <div class="image">
            <a href="assets/images/nabytek_v_03.jpg"  title="Nábytek" rel="lightbox[dvere1]"><img src="assets/images/nabytek_m_03.jpg" alt=""></a>
        </div>
    </div>

    
    <h2>PRACOVNÍ SERVIS</h2>
    <p>Provádíme odborné konzultace, přesné zaměření, vyhotovení grafického 3D návrhu, cenové nabídky, dopravu na místo určení a montáž.</p>

    

</aside>

<div class="clear"></div>