<aside>

    <h1>Reference</h1>
<p class="bold">Ukázky našich prací</p>


    <div class="gallery">
        <div class="image">
            <a href="assets/images/reference/reference-1.jpg" title="SVS - LIBEREC - administrativní budova" rel="lightbox[reference1]"><img src="assets/images/reference/reference-1_s.jpg" alt="SVS - LIBEREC - administrativní budova" title="SVS - LIBEREC - administrativní budova" /></a>
            <br>SVS - LIBEREC - administrativní budova
        </div>
        <div class="image">
            <a href="assets/images/reference/reference-2.jpg" title="JEŠTĚDSKÁ STAVEBNÍ SPOLEČNOST LIBEREC - administrativní budova JSS" rel="lightbox[reference1]"><img src="assets/images/reference/reference-2_s.jpg" alt="JEŠTĚDSKÁ STAVEBNÍ SPOLEČNOST LIBEREC - administrativní budova JSS" title="JEŠTĚDSKÁ STAVEBNÍ SPOLEČNOST LIBEREC - administrativní budova JSS" /></a>
            <br>JEŠTĚDSKÁ STAVEBNÍ SPOLEČNOST <br> LIBEREC - administrativní budova JSS
        </div>
    </div>

<div class="clear"></div>


<div class="gallery">
        <div class="image">
            <a href="assets/images/reference/reference-3.jpg" title="Bytový dům v Rozstání ve Světlé pod Ještědem " rel="lightbox[reference1]"><img src="assets/images/reference/reference-3_s.jpg" alt="Bytový dům v Rozstání ve Světlé pod Ještědem " title="Bytový dům v Rozstání ve Světlé pod Ještědem " /></a>
            <br>Bytový dům v Rozstání ve Světlé <br>pod Ještědem
        </div>
        <div class="image">
            <a href="assets/images/reference/reference-4.jpg" title="Restaurace na Baště - Liberec" rel="lightbox[reference1]"><img src="assets/images/reference/reference-4_s.jpg" alt="Restaurace na Baště - Liberec" title="Restaurace na Baště - Liberec" /></a>
            <br>Restaurace na Baště - Liberec
        </div>
    </div>

<div class="clear"></div>

<h2>Rodinné domy</h2>



<div class="gallery">
        <div class="image">
            <a href="assets/images/reference/reference-5.jpg" title="Dům Harcov" rel="lightbox[reference2]"><img src="assets/images/reference/reference-5_s.jpg" alt="Dům Harcov" title="Dům Harcov" /></a>
            <br>Dům Harcov
        </div>
        <div class="image">
            <a href="assets/images/reference/reference-6.jpg" title="Husova ulice" rel="lightbox[reference2]"><img src="assets/images/reference/reference-6_s.jpg" alt="Husova ulice" title="Husova ulice" /></a>
            <br>Husova ulice
        </div>
        <div class="image">
            <a href="assets/images/reference/reference-7.jpg" title="Sluneční lázně" rel="lightbox[reference2]"><img src="assets/images/reference/reference-7_s.jpg" alt="Sluneční lázně" title="Sluneční lázně" /></a>
            <br>Sluneční lázně
        </div>
    </div>
<div class="clear"></div>

<h2>Firmy</h2>



    <div class="gallery">
        <div class="image">
            <a href="assets/images/reference/reference-8.jpg" title="Autosalon - AUTO ENGE - VW" rel="lightbox[reference3]"><img src="assets/images/reference/reference-8_s.jpg" alt="Autosalon - AUTO ENGE - VW" title="Autosalon - AUTO ENGE - VW" /></a>
            <br>AUTO ENGE - VW
        </div>
        <div class="image">
            <a href="assets/images/reference/reference-9.jpg" title="Autosalon - AUTO PAVLŮ – KIA" rel="lightbox[reference3]"><img src="assets/images/reference/reference-9_s.jpg" alt="Autosalon - AUTO PAVLŮ – KIA" title="Autosalon - AUTO PAVLŮ – KIA" /></a>
            <br>AUTO PAVLŮ – KIA
        </div>
        <div class="image">
            <a href="assets/images/reference/reference-10.jpg" title="Autosalon" rel="lightbox[reference3]"><img src="assets/images/reference/reference-10_s.jpg" alt="Autosalon" title="Autosalon" /></a>
            <br>Autosalon
        </div>
    </div>


<div class="clear"></div>

<p></p>

<h2>Lékárna - Lipová ulice</h2>
<div class="gallery">
        <div class="image">
            <a href="assets/images/int_04.jpg" title="Lékárna" rel="lightbox[reference3]"><img src="assets/images/ref_m_01.jpg" alt="Lékárna" title="Lékárna" /></a>
            <br>Lékárna
        </div>
        <div class="image">
            <a href="pictures/99lek5.jpg" title="Lékárna" rel="lightbox[reference3]"><img src="assets/images/ref_m_02.jpg" alt="Lékárna" title="Lékárna" /></a>
            <br>Lékárna
        </div>

    </div>

<div class="clear"></div>
<p></p>

<h2>SPOLKOVÝ DŮM ROZSTÁNÍ </h2>
    <div class="gallery">
        <div class="image">
            <a href="assets/images/ref_01.jpg" title="SPOLKOVÝ DŮM ROZSTÁNÍ" rel="lightbox[reference3]"><img src="assets/images/ref_m_03.jpg" alt="SPOLKOVÝ DŮM ROZSTÁNÍ" title="SPOLKOVÝ DŮM ROZSTÁNÍ" /></a>
            <br>SPOLKOVÝ DŮM
        </div>
        <div class="image">
            <a href="assets/images/ref_02.jpg" title="SPOLKOVÝ DŮM ROZSTÁNÍ" rel="lightbox[reference3]"><img src="assets/images/ref_m_04.jpg" alt="SPOLKOVÝ DŮM ROZSTÁNÍ" title="SPOLKOVÝ DŮM ROZSTÁNÍ" /></a>
            <br>SPOLKOVÝ DŮM
        </div>
        <div class="image">
            <a href="assets/images/ref_03.jpg" title="SPOLKOVÝ DŮM ROZSTÁNÍ" rel="lightbox[reference3]"><img src="assets/images/ref_m_05.jpg" alt="SPOLKOVÝ DŮM ROZSTÁNÍ" title="SPOLKOVÝ DŮM ROZSTÁNÍ" /></a>
            <br>SPOLKOVÝ DŮM
        </div>

    </div>
<div class="clear"></div>

<div class="gallery">
        <div class="image">
            <a href="assets/images/ref_06.jpg" title="SPOLKOVÝ DŮM ROZSTÁNÍ" rel="lightbox[reference3]"><img src="assets/images/ref_m_06.jpg" alt="SPOLKOVÝ DŮM ROZSTÁNÍ" title="SPOLKOVÝ DŮM ROZSTÁNÍ" /></a>
            <br>SPOLKOVÝ DŮM
        </div>
        <div class="image">
            <a href="assets/images/ref_07.jpg" title="SPOLKOVÝ DŮM ROZSTÁNÍ" rel="lightbox[reference3]"><img src="assets/images/ref_m_07.jpg" alt="SPOLKOVÝ DŮM ROZSTÁNÍ" title="SPOLKOVÝ DŮM ROZSTÁNÍ" /></a>
            <br>SPOLKOVÝ DŮM
        </div>
        <div class="image">
            <a href="assets/images/ref_08.jpg" title="SPOLKOVÝ DŮM ROZSTÁNÍ" rel="lightbox[reference3]"><img src="assets/images/ref_m_08.jpg" alt="SPOLKOVÝ DŮM ROZSTÁNÍ" title="SPOLKOVÝ DŮM ROZSTÁNÍ" /></a>
            <br>SPOLKOVÝ DŮM
        </div>

    </div>


</aside>

<div class="clear"></div>