<aside>
    <h1>Eurookna a okna opláštěná hliníkem</h1>

    <h3>Dřevěná euro okna, profil EURO IV68</h3>
    <p>Silnější profil zaručující lepší tepelně izolační a pevnostní vlastnosti - moderní design se zaoblenými venkovními i vnitřními hranami zaručuje vysokou životnost povrchové úpravy v nejvíce namáhaných místech - dříve ostrých hran. </p>

    <h3>Dřevěná euro okna, profil EURO IV78</h3>
    <p>Silnější profil zaručující lepší tepelně izolační a pevnostní vlastnosti - moderní design se zaoblenými venkovními i vnitřními hranami zaručuje vysokou životnost povrchové úpravy v nejvíce namáhaných místech - dříve ostrých hran.</p>

    <h3>Dřevohliníková okna, profil  TH 68, TH 78</h3>
    <p>Dřevohliníková okna z třívrstvého lepeného hranolu 68 mm osazená z exteriérové strany hliníkovým opláštěním s izolačními dvojskly, nebo trojskly.</p>

    <h3>Špaletová okna - typ Castle</h3>
    <p>Špaletová okna jsou tvořená otvíravými křídly zavěšenými do špaletového rámu, přičemž vnitřní křídlo je větší než venkovní. Jsou nejčastěji používány u rekonstrukcí historických budov. Jsou vyráběna jako replika původních oken s možnými odchylkami navrženými projektantem. Okenní křídla mohou být doplněna ozdobnými lištami. Vnější křídlo je zaskleno izolačním dvojsklem. Křídla jsou vybavena celoobvodovým těsněním a přesazenou zasklívací lištou. Zvuková izolace špaletových oken je až 42 dB. Nová generace špaletových oken v historických budovách - zvuková izolace až 42 dB</p>

    <h3>Ukázka naší práce</h3>

    <div class="gallery">
        <div class="image">
            <a href="assets/images/okna_v_01.jpg"  title="Okna" rel="lightbox[dvere1]"><img src="assets/images/okna_m_01.jpg" alt=""></a>
        </div>
        <div class="image">
            <a href="assets/images/okna_v_02.jpg"  title="Okna" rel="lightbox[dvere1]"><img src="assets/images/okna_m_02.jpg" alt=""></a>
        </div>
        <div class="image">
            <a href="assets/images/okna_v_03.jpg"  title="Okna" rel="lightbox[dvere1]"><img src="assets/images/okna_m_03.jpg" alt=""></a>
        </div>
    </div>
    <div class="clear"></div>



    <h3>Materiál</h3>
    Stabilní třívrstvý nebo čtyřvrstvý lepený hranol s podélným napojením i bez podélného napojení na povrchu, vysušený na požadovanou vlhkost výroby oken. Dřeviny: smrk, borovice, dub ve stavebních hloubkách 68, 78 mm.

    <h3>Celoobvodové kování SIGENIA, MACO</h3>
    <ul>
        <li>čtyřpolohová klika - polohy zavřeno, otevřeno, mikroventilace, ventilace</li>
        <li>pojistka proti svěšování oken a chybné manipulaci</li>
        <li>kovové eloxované madélko a větrová západka proti otevření větrem u balkonových dveří</li>
        <li><strong>bezpečnostní okenní klika</strong> - mechanismus znemožňující neoprávněné posunutí okenního kování zvenku</li>
        <li><strong>krytky závěsů v barvě kliky</strong> - při otáčení klikou blokovací mechanismus zapadává se slyšitelným cvakáním = větší bezpečnost oken</li>

    </ul>

    <div class="textImage"><img src="assets/images/rez-oknem-68.jpg" alt="" ></div>


    <h3>Těsnění</h3>
    Zaručuje dokonalé utěsnění křídel k rámu okna.

    <h3>Okapnice</h3>
    Nový moderní tvar rámové i křídlové okapnice z eloxovaného hliníku v kombinaci s plastem, zamezuje vzniku tepelného mostu ve spodní části okna a zabraňuje vzniku kondenzátu uvnitř dřevěného profilu v návaznosti na okolní okrajové podmínky a podmínky stavby.

    <h3>Zasklení oken - IV 68</h3>
    Izolační dvojsklo s měkce pokovenou vrstvou o složení 4-16-4 plněno argonem, meziskelní rámeček - TGI nebo AL, koeficient prostupu tepla U<sub>g</sub> = 1,0 W.m<sup>-2</sup>K<sup>-1</sup> dle evropské normy EN, zvuková neprůzvučnost R<sub>W</sub> = 32 dB

    <h3>Zasklení oken - IV 78</h3>
    Izolační trojsklo s dvakrát měkce pokovenou vrstvou o složení 4-12-4-12-4 - plněno argonem, meziskelní rámeček - TGI nebo AL, koeficient prostupu tepla U<sub>g</sub> = 0,7 W.m<sup>-2</sup>K<sup>-1</sup> dle normy ČSN EN, zvuková neprůzvučnost R<sub>W</sub> = 32 dB


    <h3>Zasklení špaletových oken</h3>
    Na venkovní straně - izolační dvojsklo s měkce pokovenou vrstvou o složení 4-16-4 plněno argonem, meziskelní rámeček - TGI nebo AL, koeficient prostupu tepla Ug=1,1 W.m<sup>-2</sup>K<sup>-1</sup> dle evropské normy EN, zvuková neprůzvučnost R<sub>W</sub> = 32 dB, vnitřní strana planibel 4 - 6 mm. Na přání - široká škála vitrážových,gravírovaných, ornamentních, solárních, bezpečnostích a speciálních skel

    <h3>Povrchová úprava</h3>
    Tlakově nanášené silnovrstvé venkovní lazury - třívrstvý systém povrchové úpravy - hloubková impregnace, barevná impregnace, vysokotlaký nástřik lazury 300 - 350 mikronů.

    <h2>PRACOVNÍ SERVIS</h2>
    <p>Odborné konzultace, přesné zaměření a vypracování cenové nabídky.</p>
    <p>Kompletní montáž popř. demontáž oken, a doprava výrobků na místo určení.</p>

</aside>

<div class="clear"></div>