<aside>

    <h1 >Certifikáty</h1>

    <p>Naše firma drží řadu hodnotných certifikátů zaručujících kvalitu odvedené práce.</p>

<h3>Držené certifikáty</h3>

<div class="gallery">
    <div class="image">
        <a href="assets/upload/skenovat0003.pdf"><img src="assets/images/certifikat_01.jpg" alt=""><br>Protokol o počáteční<br>zkoušce typu výrobku - <br> okna IV 68</a>
    </div>
    <div class="image">
        <a href="assets/upload/katys-ce-.pdf"><img src="assets/images/certifikat_02.jpg" alt=""><br>Katys CE</a>
    </div>
</div>

<div class="clear">&nbsp;</div>

<div class="gallery">
    <div class="image">
        <a href="assets/upload/certifikat-vnlj_exe-euro-68.pdf"><img src="assets/images/certifikat_03.jpg" alt=""><br>Protokol o počáteční<br>zkoušce
typu výrobku -<br>vnější dveře IV 68</a>
    </div>
    <div class="image">
        <a href="assets/upload/skenovat0001.pdf"><img src="assets/images/certifikat_04.jpg" alt=""><br>Protokol o stanovení<br>součinitele prostupu tepla - <br>okna IV 78</a>
    </div>
</div>

</aside>

<div class="clear"></div>