<aside>
    <h1>Kontakt</h1>


    <h2>Katys spol. s r.o.</h2>

    <div class="map"><iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://www.openstreetmap.org/export/embed.html?bbox=14.973056316375732%2C50.70527795166135%2C15.001380443572996%2C50.71692257781617&amp;layer=mapnik&amp;marker=50.71110062631218%2C14.987218379974365" style="border: 1px solid black"></iframe><br/><small><a href="http://www.openstreetmap.org/?mlat=50.7111&amp;mlon=14.9872#map=16/50.7111/14.9872">Zobrazit velkou mapu</a></small></div>

    <p>Světlá pod Ještědem 64, 463 43</p>

    <p>
        <strong>Telefon:</strong><br>
        485 179 175<br>
        <br>
        <strong>Fax:</strong><br>
        485 179 175 <br>
        <br>
        <strong>Mobil:</strong><br>
        +420 603 217 867 <br>
        <br>
        <strong>E-mail:</strong><br>
        katys@katys.cz<br>
        <br>
        <strong>IČO:</strong><br>
        64053113

    </p>


    <div class="clear"></div>

    <p><em>Spisová značka: C 10030 vedená u rejstříkového soudu v Ústí nad Labem</em></p>

    <p><em>Veškerou zodpovědnost za obsah stránek nese společnost Katys spol. s r.o.</em></p>



</aside>

<div class="clear"></div>