<aside>
    <h1>Vnitřní (interiérové) dveře z masivu</h1>
    
    <p>Vnitřní dveře jsou určené pro vybavení interiéru, proto lze použít i dřeviny méně odolné proti povětrnostním vlivům jako je smrk, borovice, olše nebo buk, samozřejmě i další ušlechtilé dřeviny např. dub, jasan, javor.</p>
    <p>Přirozenou krásu ušlechtilých dřevin umocňuje přírodní povrchová úprava laky, oleji a vosky. Jedná se o ekologicky čisté materiály, tyto materiály jsou šetrné k přírodě a zdravotně nezávadné jak při výrobě, provádění povrchové úpravy tak i na hotovém výrobku.</p>


<h3>Ukázka naší práce</h3>

<div class="gallery">
        <div class="image">
            <a href="assets/images/int_dvere_01.jpg"  title="Dveře interiérové" rel="lightbox[dvere1]"><img src="assets/images/int_dvere_m_01.jpg" alt=""></a>
        </div>
        <div class="image">
            <a href="assets/images/int_dvere_02.jpg"  title="Dveře interiérové" rel="lightbox[dvere1]"><img src="assets/images/int_dvere_m_02.jpg" alt=""></a>
        </div>
        <div class="image">
            <a href="assets/images/int_dvere_03.jpg"  title="Dveře interiérové" rel="lightbox[dvere1]"><img src="assets/images/int_dvere_m_03.jpg" alt=""></a>
        </div>
    </div>

<h3>Konstrukce interiérových dveří</h3>
<p>Dveřní křídla tvoří celodřevěný lepený hranol EURODECK. Jeho konstrukce zaručuje tvarovou a rozměrovou stálost. Výplně mohou tvořit různá ornamentální skla nebo dřevěná spárovka. Zárubně jsou vyráběny z masivního dřeva v klasickém provedení s obložkami. V interiéru nejsou obvykle kladeny tak vysoké nároky na zabezpečení, proto se používají jednobodové zámky na obyčejný klíč nebo cylindrickou vložku, pro koupelny a toalety lze využít WC zámky.</p>

<h3>Typy vnitřních dveří</h3>
<p>Dveře mohou být klasické otočně otvíravé v jednokřídlém či dvoukřídlém provedení, s horním nebo bočním světlíkem, mohou být posuvné jednokřídlé i dvoukřídlé, posuvné do vestavěného pouzdra ve zdi v různých variantách provedení.</p>


<h2>Obložkové zárubně</h2>
<p><strong>Obložkové zárubně</strong> vyrábíme ze stejného materiálu jako dveře, tedy z masivu. Moříme je stejnými mořidly jako dveře, takže dveře a obložkové zárubně vytvářejí dokonalý harmonický celek.</p>
<p>Nepoužíváme tedy žádné 18 mm dřevotřískové nebo dýhované desky, ale 30mm masivní profily. Srovnejte si prosím tento fakt s nabídkou konkurence! Krytí a falcové obložky námi vyráběných obložkových zárubní mají všechny hrany zaobleny rádiusem R3 a R6. Už pouhým dotekem poznáte kvalitu zpracování povrchu.</p>

<p>Samozřejmostí kompletní dodávky jsou velice <strong>kvalitní panty</strong> s překryvem, teflonovým pouzdram a možností seřízení ve 3 osách.</p>

<p><strong>Obložkové zárubně</strong> namontujeme nejen v novostavbě, ale i ve stávající zástavbě. Nabízíme obložení starých ocelových zárubní a nahrazení kvalitním obložkovými zárubněmi.</p>


<div class="largeimgblock">
    <p><strong>Model 1</strong></p>
    <a href="assets/images/dvere_model_1.gif" title="Dveře - model 1" rel="lightbox[dvere1]"><img src="assets/images/dvere_model_1.gif" alt="Model 1" title="Model 1" /></a>
    <a href="assets/images/dvere_model_1_o.gif" title="Dveře - model 1" rel="lightbox[dvere1]" title="Dveře"><img src="assets/images/dvere_model_1_o.gif" alt="Model 1" title="Model 1" /></a>
</div>

<div class="largeimgblock">
    <p><strong>Model 2</strong></p>
    <a href="assets/images/dvere_model_2.gif" title="Dveře - model 2" rel="lightbox[dvere2]"><img src="assets/images/dvere_model_2.gif" alt="Model 2" /></a>
    <a href="assets/images/dvere_model_2_o.gif" title="Dveře - model 2" rel="lightbox[dvere2]"><img src="assets/images/dvere_model_2_o.gif" alt="model 2" /></a>
</div>

<div class="largeimgblock">
    <p><strong>Model 3</strong></p>
    <a href="assets/images/dvere_model_3.gif" title="Dveře - model 3" rel="lightbox[dvere3]"><img src="assets/images/dvere_model_3.gif" alt="Model 3" /></a>
    <a href="assets/images/dvere_model_3_o.gif" title="Dveře - model 3" rel="lightbox[dvere3]"><img src="assets/images/dvere_model_3_o.gif" alt="Model 3" /></a>
</div>

<div class="largeimgblock">
    <p><strong>Model 4</strong></p>
    <a href="assets/images/dvere_model_4.gif" title="Dveře - model 4" rel="lightbox[dvere4]"><img src="assets/images/dvere_model_4.gif" alt="Model 4" /></a>
    <a href="assets/images/dvere_model_4_o.gif" title="Dveře - model 4" rel="lightbox[dvere4]"><img src="assets/images/dvere_model_4_o.gif" alt="Model 4" /></a>
</div>

<div class="largeimgblock">
    <p><strong>Model 5</strong></p>
    <a href="assets/images/dvere_model_5.gif" title="Dveře - model 5" rel="lightbox[dvere5]"><img src="assets/images/dvere_model_5.gif" alt="Model 5" /></a>
    <a href="assets/images/dvere_model_5_o.gif" title="Dveře - model 5" rel="lightbox[dvere5]"><img src="assets/images/dvere_model_5_o.gif" alt="Model 5" /></a>
</div>

<div class="largeimgblock">
    <p><strong>Model 6</strong></p>
    <a href="assets/images/dvere_model_6.gif" title="Dveře - model 6" rel="lightbox[dvere6]"><img src="assets/images/dvere_model_6.gif" alt="Model 6" /></a>
    <a href="assets/images/dvere_model_6_o.gif" title="Dveře - model 6" rel="lightbox[dvere6]"><img src="assets/images/dvere_model_6_o.gif" alt="Model 6" /></a>
</div>

<div class="largeimgblock">
    <p><strong>Model 7</strong></p>
    <a href="assets/images/dvere_model_7.gif" title="Dveře - model 7" rel="lightbox[dvere7]"><img src="assets/images/dvere_model_7.gif" alt="Model 7" /></a>
    <a href="assets/images/dvere_model_7_o.gif" title="Dveře - model 7" rel="lightbox[dvere7]"><img src="assets/images/dvere_model_7_o.gif" alt="Model 7" /></a>
</div>

<div class="largeimgblock">
    <p><strong>Model 8</strong></p>
    <a href="assets/images/dvere_model_8.gif" title="Dveře - model 8" rel="lightbox[dvere8]"><img src="assets/images/dvere_model_8.gif" alt="Model 8" /></a>
    <a href="assets/images/dvere_model_8_o.gif" title="Dveře - model 8" rel="lightbox[dvere8]"><img src="assets/images/dvere_model_8_o.gif" alt="Model 8" /></a>
</div>

<div class="largeimgblock">
    <p><strong>Model 9</strong></p>
    <a href="assets/images/dvere_model_9.gif" title="Dveře - model 9" rel="lightbox[dvere9]"><img src="assets/images/dvere_model_9.gif" alt="Model 9" /></a>
    <a href="assets/images/dvere_model_9_po.gif" title="Dveře - model 9" rel="lightbox[dvere9]"><img src="assets/images/dvere_model_9_po.gif" alt="Model 9" /></a>
    <a href="assets/images/dvere_model_9_o.gif" title="Dveře - model 9" rel="lightbox[dvere9]"><img src="assets/images/dvere_model_9_o.gif" alt="Model 9" /></a>
</div>

<div class="largeimgblock">
    <p><strong>Model 10</strong></p>
    <a href="assets/images/dvere_model_10.gif" title="Dveře - model 10" rel="lightbox[dvere10]"><img src="assets/images/dvere_model_10.gif" alt="Model 10" /></a>
    <a href="assets/images/dvere_model_10_po.gif" title="Dveře - model 10" rel="lightbox[dvere10]"><img src="assets/images/dvere_model_10_po.gif" alt="Model 10" /></a>
</div>

<div class="largeimgblock">
    <p><strong>Model 11</strong></p>
    <a href="assets/images/dvere_model_11.gif" title="Dveře - model 11" rel="lightbox[dvere11]"><img src="assets/images/dvere_model_11.gif" alt="Model 11" /></a>
    <a href="assets/images/dvere_model_11_o.gif" title="Dveře - model 11" rel="lightbox[dvere11]"><img src="assets/images/dvere_model_11_o.gif" alt="Model 11" /></a>
</div>

<div class="largeimgblock">
    <p><strong>Model 12</strong></p>
    <a href="assets/images/dvere_model_12.gif" title="Dveře - model 12" rel="lightbox[dvere12]"><img src="assets/images/dvere_model_12.gif" alt="Model 12" /></a>
    <a href="assets/images/dvere_model_12_o.gif" title="Dveře - model 12" rel="lightbox[dvere12]"><img src="assets/images/dvere_model_12_o.gif" alt="Model 12" /></a>
</div>

<div class="largeimgblock">
    <p><strong>Model 13</strong></p>
    <a href="assets/images/dvere_model_13.gif" title="Dveře - model 13" rel="lightbox[dvere13]"><img src="assets/images/dvere_model_13.gif" alt="Model 13" /></a>
    <a href="assets/images/dvere_model_13_o.gif" title="Dveře - model 13" rel="lightbox[dvere13]"><img src="assets/images/dvere_model_13_o.gif" alt="Model 13" /></a>
</div>

<div class="clear"></div>


<h2>PRACOVNÍ SERVIS</h2>
<p>Odborné konzultace, přesné zaměření a vypracování cenové nabídky.</p>
<p>Kompletní montáž popř. demontáž, a doprava výrobků na místo určení.</p>



</aside>


<div class="clear"></div>