<aside>
    <h1>Stavební truhlářství</h1>

    <p>Nabízíme služby stavebního truhlářství. V oblasti máme zkušenosti od roku 1998.</p>
    <h2>Na zakázku dodáváme</h2>
    <ul>
        <li>Podlahy</li>
        <li>Schodiště</li>
        <li>Okna</li>
        <li>Dveře</li>
        <li>Zábradlí</li>
        <li>Palubky</li>
        <li><em>a další...</em></li>
    </ul>


    <h3>Ukázka naší práce</h3>

    <div class="gallery">
        <div class="image">
            <a href="assets/images/stavebni_truhlarstvi_v_01.jpg"  title="Stavební truhlářství" rel="lightbox[dvere1]"><img src="assets/images/stavebni_truhlarstvi_m_01.jpg" alt=""></a>
        </div>
        <div class="image">
            <a href="assets/images/stavebni_truhlarstvi_v_02.jpg"  title="Stavební truhlářství" rel="lightbox[dvere1]"><img src="assets/images/stavebni_truhlarstvi_m_02.jpg" alt=""></a>
        </div>
        <div class="image">
            <a href="assets/images/stavebni_truhlarstvi_v_03.jpg"  title="Stavební truhlářství" rel="lightbox[dvere1]"><img src="assets/images/stavebni_truhlarstvi_m_03.jpg" alt=""></a>
        </div>
    </div>


    <h2>PRACOVNÍ SERVIS</h2>
    <p>Provádíme odborné konzultace, přesné zaměření, vyhotovení grafického 3D návrhu, cenové nabídky, dopravu na místo určení a montáž.</p>



</aside>

<div class="clear"></div>