<aside>
    <h1>Zelená úsporám</h1>

    <strong>Jsme registrovaný dodavatel programu Zelená úsporám.</strong>

    <p><em>Program Ministerstva životního prostředí administrovaný Státním fondem životního prostředí ČR
    zaměřený na úspory energie a obnovitelné zdroje energie v rodinných a bytových domech
    Oficiální web programu Zelená úsporám </em></p>

    <div class="gallery">
        <div class="image">
            <a href="http://www.zelenausporam.cz/"><img src="assets/images/zelenaUsporam.jpg" alt=""></a>
        </div>
    </div>

    <div class="clear"></div>
    <p>Bližší informace naleznete na stránkách programu:</p>
    <strong><a href="http://www.zelenausporam.cz/">Stránka projektu</a></strong>

</aside>

<div class="clear"></div>