<aside>
    <h1>Interiéry</h1>

    <p>Dodáváme <strong>atypický nábytek</strong> navržený buď přímo Vámi nebo Vaším designérem či architektem. Na požádání Vám pomůžeme s návrhem, sestavíme nabídku či vypracujeme 3D model interiéru.</p>

    <h2>Interiéry na zakázku</h2>
    <p>Nedílnou součástí naší práce je <strong>zakázková výroba nábytku</strong>, interiéry kuchyní, design nábytek, interiérové dveře, interiéry ložnic, vestavěné skříně do rodinných domů a bytů.</p>


    <h3>Ukázka naší práce</h3>

    <div class="gallery">
        <div class="image">
            <a href="assets/images/large/94d40c33b4db.jpg"  title="Interiéry" rel="lightbox[inter1]"><img src="assets/images/interiery_01.jpg" alt=""></a>
        </div>
        <div class="image">
            <a href="assets/images/int_03.jpg"  title="Interiéry" rel="lightbox[inter1]"><img src="assets/images/int_n_03.jpg" alt=""></a>
        </div>
        <div class="image">
            <a href="assets/images/large/78a00004.jpg"  title="Interiéry" rel="lightbox[inter1]"><img src="assets/images/interiery_03.jpg" alt=""></a>
        </div>
    </div>

    <div class="gallery">
        <div class="image">
            <a href="assets/images/int_01.jpg"  title="Interiéry" rel="lightbox[inter1]"><img src="assets/images/int_n_01.jpg" alt=""></a>
        </div>
        <div class="image">
            <a href="assets/images/int_02.jpg"  title="Interiéry" rel="lightbox[inter1]"><img src="assets/images/int_n_02.jpg" alt=""></a>
        </div>
        <div class="image">
            <a href="assets/images/int_04.jpg"  title="Interiéry" rel="lightbox[inter1]"><img src="assets/images/int_n_04.jpg" alt=""></a>
        </div>
    </div>

    <p>Realizujeme také  <strong>interiéry prodejen, autosalonů, hotelových recepcí a pokojů</strong> v moderním i tradičním designu.</p>

    <div class="gallery">
        <div class="image">
            <a href="assets/images/large/p7177940.jpg"  title="Autosalóny" rel="lightbox[dvere1]"><img src="assets/images/autosalon_01.jpg" alt=""></a>
        </div>
        <div class="image">
            <a href="assets/images/large/p1040090.jpg"  title="Autosalóny" rel="lightbox[dvere1]"><img src="assets/images/autosalon_02.jpg" alt=""></a>
        </div>
        <div class="image">
            <a href="assets/images/large/p7177948.jpg"  title="Autosalóny" rel="lightbox[dvere1]"><img src="assets/images/autosalon_03.jpg" alt=""></a>
        </div>
    </div>

    <h2>PRACOVNÍ SERVIS</h2>
    <p>Odborné konzultace včetně vyhotovení grafického návrhu dispozice a cenové nabídky.</p>
    <p>Přesné zaměření a vypracování projektové dokumentace.</p>
    <p>Kompletní montáž nábytku a doprava výrobků na místo určení.</p>

</aside>

<div class="clear"></div>