<ul id="mainMenu">
    <li><a href="reference.html"{% if url=='reference' %} class="selected"{% endif %}>Reference</a></li>
    <li><a href="fotogalerie.html"{% if url=='fotogalerie' %} class="selected"{% endif %}>Fotogalerie</a></li>
    <li><a href="certifikaty.html"{% if url=='certifikaty' %} class="selected"{% endif %}>Certifikáty</a></li>
    <li><a href="zelena-usporam.html"{% if url=='zelena-usporam' %} class="selected"{% endif %}>Zelená úsporám</a></li>
    <li><a href="kontakt.html"{% if url=='kontakt' %} class="selected"{% endif %}>Kontakt</a></li>
</ul>