<footer>
    <div class="content">
        <div class="box">
            <h3>Rychlá navigace</h3>
            <ul>
                <li><a href="kontakt.html">Kontakt</a></li>
                <li><a href="reference.html">Reference</a></li>
                <li><a href="certifikaty.html">Certifikáty</a></li>
                <li><a href="fotogalerie.html">Fotogalerie</a></li>
            </ul>
        </div>
        <div class="box">
            <h3>Interiéry</h3>
            <ul>
                <li><a href="kuchyne.html">Kuchyně</a></li>
                <li><a href="interierove-dvere.html">Interiérové dveře</a></li>
                <li><a href="nabytek.html">Nábytek</a></li>
                <li><a href="stoly-a-zidle.html">Stoly a židle</a></li>
            </ul>
        </div>

        <div class="box">
            <h3>Stavby</h3>
            <ul>
                <li><a href="okna.html">Eurookna</a></li>
                <li><a href="zimni-zahrady.html">Zimní zahrady</a></li>
                <li><a href="stavebni-truhlarstvi.html">Stavební truhlářství</a></li>
                <li><a href="zimni-zahrady.html">Výkladní skříně</a></li>
            </ul>
        </div>

        <div class="box">
            <h3>Výroba</h3>
            <ul>
                <li><a href="okna.html">Zakázková výroba</a></li>
                <li><a href="nabytek.html">Atypický nábytek </a></li>
                <li><a href="vchodove-dvere.html">Vchodové dveře</a></li>
                <li><a href="okna.html">Okna na míru</a></li>
            </ul>
        </div>

        <div class="box">
            <h3>Kontaktní údaje</h3>
            <p>
                <strong>Katys spol. s r.o.</strong><br>
                Světlá pod Ještědem 64.<br>
                Mobil: {{ phone }}<br>
                E-mail: {{ email }}<br>
            </p>
        </div>
    </div>
    <div class="clear"></div>
    <div id="subFooter">
        <a href="http://www.sybarite.cz/">Sybarite s.r.o.</a>
    </div>
    <div class="clear"></div>
</footer>