<div id="header">
    <div class="content">
        <ul>
            <li id="iconOK">Prodloužená<br>záruka</li>
            <li id="iconTruck">Dvacet let <br>v praxe</li>
            <li id="iconAr">Individuální<br>přístup</li>
        </ul>
        <strong>Zavolejte nám na {{ phone }}</strong>
    </div>
</div>
<div class="clear"></div>
<div id="top">
    <div class="content">
        <a href="{{ link_to_homepage }}" id="logo">&nbsp;</a>

        <ul id="thumbNav">
            <li>Zakázková výroba nábytku</li>
            <li>Výroba oken a dveří</li>
            <li>Stavební truhlářství</li>
        </ul>
        <div class="clear"></div>
        <div id="menu">
            <ul id="catNav">
                <li><a href="okna.html" class="menuExpand" >NABÍZENÝ SORTIMENT</a></li>
            </ul>
            {% include 'tag_menu.html' %}
            <div class="clear"></div>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="clear" id="topMargin"></div>