<div id="contextMenu">
    <ul>
        <li><a href="okna.html"{% if url=="okna" %}class="selected"{% endif %}>Okna</a></li>
        <li><a href="vchodove-dvere.html"{% if url=="vchodove-dvere" %}class="selected"{% endif %}>Vchodové dveře</a></li>
        <li><a href="interierove-dvere.html"{% if url=="interierove-dvere" %}class="selected"{% endif %}>Interiérové dveře</a></li>
        <li><a href="zimni-zahrady.html"{% if url=="zimni-zahrady" %}class="selected"{% endif %}>Zimní zahrady</a></li>
        <li><a href="interiery.html"{% if url=="interiery" %}class="selected"{% endif %}>Interiéry</a></li>
        <li><a href="kuchyne.html"{% if url=="kuchyne" %}class="selected"{% endif %}>Kuchyně</a></li>
        <li><a href="nabytek.html"{% if url=="nabytek" %}class="selected"{% endif %}>Nábytek</a></li>
        <li><a href="stavebni-truhlarstvi.html"{% if url=="stavebni-truhlarstvi" %}class="selected"{% endif %}>Stavební truhlářství</a></li>
        <li><a href="stoly-a-zidle.html" class="last{% if url=="stoly-a-zidle" %} selected{% endif %}">Stoly a židle</a></li>
    </ul>
</div>